<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>PS20520_NGUYENTHANHHA_LAB4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>bai1</display-name>
    <servlet-name>bai1</servlet-name>
    <servlet-class>com.ps20520.bai1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bai1</servlet-name>
    <url-pattern>/bai1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bai2</display-name>
    <servlet-name>bai2</servlet-name>
    <servlet-class>com.ps20520.bai2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bai2</servlet-name>
    <url-pattern>/bai2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Action</display-name>
    <servlet-name>Action</servlet-name>
    <servlet-class>com.ps20520.Action</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/Action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Prod</display-name>
    <servlet-name>Prod</servlet-name>
    <servlet-class>com.ps20520.Prod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prod</servlet-name>
    <url-pattern>/Prod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListItems</display-name>
    <servlet-name>ListItems</servlet-name>
    <servlet-class>com.ps20520.ListItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListItems</servlet-name>
    <url-pattern>/ListItems</url-pattern>
  </servlet-mapping>
</web-app>