button{
    width: 50px;
    height: 40px;
    border: none;
}
h2{
    text-align: center;
    color: rgb(86, 100, 180);
}
h3{
    text-align: center;
    color: brown;
}
td{
    background: #ccc;
    width: 30px;
    height: 40px;
}
button:hover{
    border: 2px solid rgb(109, 184, 197);
}
.KQ{
    background: rgb(157, 223, 187);
}