.container{
    width: 400px;
    height: 100px;
    margin-left: calc(50% - 200px);
    background: rgb(122, 182, 231);
    border: 3.5px dashed rgb(67, 167, 54);
}
#ngay, #thang, #nam{
    float: left;
    margin-left: 65px;
}
h3{
    color: white;
    text-align: center;
}