*{ 
    margin : 50px auto;
}
.container{ 
    border: 3px dashed darkslategrey;
    height: 300px;
    width: 600px;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    background-color: darkseagreen;
}
.container h4{
    color: white;
    background-color: darkolivegreen;
    height: 70px;
    width: 600px;
    margin-top: 0px;
    line-height: 70px;
    font-size: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#slx {
    color: blue;
}