<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
  <div class="my-3">
    <button class="btn btn-primary" ng-click="tang()">Xếp tăng dần</button>
    <button class="btn btn-success"ng-click="giam()">Xếp giảm dần</button>
  </div>
        <div class="row bg-white">
            <div class="col-sm-2 my-3" style="float: left;" ng-repeat = "pro in product_list | filter : tim |orderBy :'Type[0].Pieces': kq ">
             
                <div class="card pt-2" data-bs-toggle="card">
                   <a href="#!product/{{pro.Id}}"> <img class="card-img-top" src="{{pro.Images}}" alt="Card image"style="width:90%"></a>
                    <div class="card-body">
                        <div>
                            <a href="#!product/{{pro.Id}}" style="font-size: 13px; color: #333;">{{pro.Title}}</a>
                        </div>
                        <div>
                            <b style="font-size: 14px; color: #333; ">{{pro.about}}</b>
                        </div>
                        <b style="font-size: 12px; color: #333;font-weight: 400;">{{pro.Require}}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>