<div ng-controller="myctrl2">
    <div class="title-book">
        <h4>Danh sách sản phẩm</h4>
    </div>
    <table class="table table-striped table-hover table-book">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên sách</th>
                <th scope="col">Năm SX</th>
                <th scope="col">Giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Tác giả</th>
                <th scope="col">Ảnh</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">8934974165576</th>
                <td>Bác Sĩ Riêng Của Bé - Chào Con! Ba Mẹ Đã Sẵn Sàng</td>
                <td>2020</td>
                <td>80.750</td>
                <td>1234</td>
                <td>BS Trần Thị Huyên Thảo</td>
                <td><img src="../../image/SNDC_8934974165576.jpg" alt=""></td>
            </tr>
            <tr>
                <th scope="row">9786040334473</th>
                <td>Toán Lớp 5</td>
                <td>2020</td>
                <td>13.000</td>
                <td>1234</td>
                <td>Nhiều Tác Giả</td>
                <td><img src="../../image/SBH_9786040334473.jpg" alt=""></td>
            </tr>
            <tr>
                <th scope="row">8931805006121</th>
                <td>Luyện Viết Và Học Từ Vựng Tiếng Anh Lớp 1</td>
                <td>2022</td>
                <td>46.800</td>
                <td>1234</td>
                <td>Chính An, Chính Bình</td>
                <td><img src="../../image/SBH_8931805006121.jpg" alt=""></td>
            </tr>
            <tr>
                <th scope="row">9786040282934</th>
                <td>Toán Lớp 5</td>
                <td>2022</td>
                <td>69.000</td>
                <td>1234</td>
                <td>Nhiều Tác Giả</td>
                <td><img src="../../image/SBH_9786040334473.jpg" alt=""></td>
            </tr>
            <tr>
                <th scope="row">9786040237774</th>
                <td>Công Nghệ - Lớp 11 - Tái Bản 2021</td>
                <td>2021</td>
                <td>14.000</td>
                <td>34</td>
                <td>Bộ Giáo Dục Và Đào Tạo</td>
                <td><img src="../../image/SBH_9786040237774.jpg" alt=""></td>
            </tr>
            <tr>
                <th scope="row">9786040287595</th>
                <td>Tập viết 1 - Tập 2 - Chân Trời Sáng Tạo</td>
                <td>2021</td>
                <td>14.000</td>
                <td>635</td>
                <td>Nhiều tác giả</td>
                <td><img src="../../image/SBT_9786040287595.jpg" alt=""></td>
            </tr>
            <tr>
                <th scope="row">9786040287564</th>
                <td>Vở Bài Tập Tiếng Việt Lớp 1</td>
                <td>2022</td>
                <td>12.000</td>
                <td>658</td>
                <td>Nhiều tác giả</td>
                <td><img src="../../image/SBT_9786040287564.jpg" alt=""></td>
            </tr>
            <tr>
                <th scope="row">9786040282262</th>
                <td>Vở Bài Tập Toán Lớp 5 - Tập 1</td>
                <td>2021</td>
                <td>11.100</td>
                <td>83</td>
                <td>Nhiều tác giả</td>
                <td><img src="../../image/SBT_9786040287595.jpg" alt=""></td>
            </tr>
        </tbody>
    </table>
    <div class="new-book">
        <div class="dieukhien">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-double-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-double-right"></i></a></li>
            </ul>
        </div>
        <button class="btn-new-book"><a href="#!new-book"><i class="bi bi-bag-plus-fill"></i> Tạo mới</a></button>
    </div>
</div>