<div class="card card-account">
    <div class="card-header">
        <h4>Chi tiết</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="mb-3 col-6">
                <label for="exampleFormControlInput1" class="form-label">Số điện thoại</label>
                <input type="text" class="form-control account-phone" id="exampleFormControlInput1" placeholder="0123456789">
            </div>
            <div class="mb-3 col-6">
                <label for="exampleFormControlInput1" class="form-label">Họ tên</label>
                <input type="text" class="form-control account-name" id="exampleFormControlInput1">
            </div>
            <div class="mb-3 col-6">
                <label class="form-label">Giới tính</label>
                <div class="form-control account-gender">
                    <input type="radio" id="Nam" name="gender" value="Nam">
                    <label for="Nam">Nam</label>
                    <input type="radio" id="Nu" name="gender" value="Nu">
                    <label for="Nu">Nữ</label>
                </div>
            </div>
            <div class="mb-3 col-6">
                <label for="exampleFormControlInput1" class="form-label">Ngày sinh</label>
                <input type="date" class="form-control account-date" id="exampleFormControlInput1">
            </div>
            <div class="mb-3 col-6">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="text" class="form-control account-email" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3 col-6">
                <label for="exampleFormControlInput1" class="form-label">Địa chỉ</label>
                <input type="text" class="form-control account-address" id="exampleFormControlInput1">
            </div>
            <div class="mb-3 col-6">
                <label for="exampleFormControlInput1" class="form-label">Ảnh</label>
                <input type="file" class="form-control account-image" id="exampleFormControlInput1">
            </div>
            <div class="mb-3 col-6">
                <label class="form-label">Vai trò</label>
                <div class="form-control account-role">
                    <input type="radio" id="admin" name="role" value="Admin">
                    <label for="admin">Admin</label>
                    <input type="radio" id="users" name="role" value="users">
                    <label for="users">Người dùng</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="add-account"><i class="bi bi-person-fill-add"></i> Tạo mới</button>
        <button class="update-account"><i class="bi bi-box-arrow-in-down"></i> Cập nhật</button>
        <button class="delete-account"><i class="bi bi-x-octagon"></i> Xóa</button>
        <button class="reset-account"><i class="bi bi-arrow-counterclockwise"></i> Đặt lại</button>
    </div>
</div>